

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 98%;
  margin-left: 37px;
  margin-bottom: 1.5rem;
}



.ProfileContainer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 94%;
    margin-left: 37px;
    margin-bottom: 2rem;
    border: 1px solid #e5e7eb;
    padding: 1.5rem;
    border-radius: 10px;
    height : auto;
}
.EmployeesContainer{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 94%;
  margin-left: 37px;
  margin-bottom: 2rem;
  border: 1px solid #e5e7eb;
  padding: 1.5rem;
  border-radius: 10px;
  height : auto;
}

