.maintext{
    
    margin-left: -6px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lexend', sans-serif; 
    color: #16151C;
    line-height: 40px;
    
}

.InputContainer{
    

    display: flex;
    flex-direction: column;
}
.InputWithEye {
    display: flex;
    align-items: center;
}

.InputWithEye button {
    margin-left: -30px; /* Adjust the margin as needed */
    z-index: 5;
}

